<div id="stores" 
     data-role="view" data-title="Stores" data-style="inset"
     data-init="storesInit" data-show="onStoresShow">
	<header data-role="header">
        <div data-role="navbar">
            <ul id="btnStoreViewToggle" data-role="buttongroup" data-index="0" data-align="center">
                <li>Map</li>
                <li>List</li>
            </ul>
        </div>
    </header>
    <!--
	<span id="offline-msg">Please reconnect to the Internet.</span>
	-->
    <div id="map"></div>
    <ul id="storeList" data-role="listview" data-style="inset" style="display:none"
        data-template="tmplStoreListItem">
	</ul>
</div>

<script id="tmplStoreListItem" type="text/x-kendo-template">
	<div class="j-listview-item stores">
    	<div class="j-listview-item-content">
            <span>#: data.Name #</span>
            <span>#: data.Address #</span>
            <span>
                #if(OpenNow === 1){#
                    Open
                #}else{#
                    Closed
                #}#
            </span>
		<div>
	</div>
</script>