<div id="stores" 
     data-role="view" data-title="Stores" data-style="inset"
     data-init="storesInit" data-show="onStoresShow"
     data-model="storesListViewModel">
	<header data-role="header">
        <div data-role="navbar">
            <ul id="btnStoreViewToggle" data-role="buttongroup" data-index="0" data-align="center">
                <li>Map</li>
                <li>List</li>
            </ul>
        </div>
    </header>
    <h3 id="offline-msg">Please reconnect to the Internet.</h3>
    <div id="stores">
        <div id="map"></div>
        <ul id="storeList" data-role="listview" data-style="inset" style="display:none"
            data-template="tmplStoreListItem" data-bind="source: stores">
        </ul>
    </div>
</div>

<script id="tmplStoreListItem" type="text/x-kendo-template">
	<div class="j-listview-item stores">
    	<div class="j-listview-item-content">
            <span>#: Name #</span>
            <span>#: Address #</span>
		<div>
	</div>
</script>