#announcements
{
    margin: 12px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.cardPicture
{
    background-image: url("coffeeCupFrame.png");
    background-repeat:no-repeat;
    background-position:center;
    width: 52px;
    height: 52px;
    float: left;
}

.silverFrame
{
    background-image: url("../images/coffeeCupFrameSilver.png");
    background-repeat:no-repeat;
    background-position:center;
}

.goldFrame
{
    background-image: url("coffeeCupFrameGold.png");
    background-repeat:no-repeat;
    background-position:center;
}

.cardPicture:after 
{
    content: "";
    position: relative;
    background:red url("../images/cofeeCup-sprite.png") no-repeat right top;
    top: 12px;
    left: 12px;
}

.addCardLogo {
    margin: 25px 10px 0 10px;
}

.addCardLogoText {
    color: #4C566C;
    font-size: 16px;
    line-height: 52px;
    margin-left: 15px;
    text-shadow: 1px 1px 1px #fff;
}

.addNewCardWrapper {
    margin: 10px;
}

.item-photo {
    width: 5em;
    height: 3.5em;
    float: left;
    margin: .5em 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#announcements-listview .item-title {
	float: left;
	font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 0 0 .8em;
    width: 61%;
}

#announcements-listview .item-info {
	float: left;
	font-size: 1em;
    font-weight: 100;
	line-height: 1em;
    margin: 0 0 0 1em;
    width: 61%;
}

.km-ios #home .km-list
{
    background: rgba(255, 255, 255, 0.5);
}

.km-card
{
	-webkit-mask-box-image: url("../icons/card.png");
}

.km-rewards
{
	-webkit-mask-box-image: url("../icons/rewards.png");
}

.km-stores
{
	-webkit-mask-box-image: url("../icons/stores.png");
}

/*66CCFF*/
#jitterz-tabstrip,
#jitterz-default-header .km-navbar,
#jitterz-tabstrip .km-state-active .km-icon,
#jitterz-default-header .km-navbar .km-button
{
	background-color: #66ccff;
}

.km-ios #jitterz-tabstrip
{
	border-top: 2px solid #66ccff;
}

#home .km-content
{
   background-image: url("../images/bgr_pattern.jpg");
    background-size: repeed;
}

/*Ivan Ivanov Cancel button*/
.clear:after
{
    content: "";
    clear: both;
    display: block;
}

#buttonModalViewDeleteConfirm,
#buttonModalViewDeleteCancel
{
    display: block;
    text-align: center;
    margin: .6em .8em .6em;
    font-size: 1.2em;
}

#cardsView {
    font-family:Sans-serif, Helvetica;
}
.cardNumberText {
    color: #486A9A;
    font-weight: normal;
    font-size: 12px;
}

.expireDateText {
    color: #7F7F7F;
    font-weight: normal;
    font-size: 12px;
}
.cardInformationContainer
{
    margin: 7px 0 0 10px;
    float: left;
}

/*Single Card View Styles*/
#singleCardContainer
{
    margin-top: 15px;
    height: 170px;
}

#cardFront
{
}

#cardBack
{
    display:none;
}

.cardStyle
{
    border-radius: 10px;
    cursor:pointer;
    width:300px;
    height:170px;
    box-shadow: 0px 0px 2px #333;
    margin: 0 auto;

}

#cardBarcode
{
    margin: 40px auto 0 auto;    
}

#map {
    width:100%; height:100%; position:absolute;        
}

.deleteCardButton
{
    width:20px;
    height:20px;
    text-align:center;
}

.deleteCardButton:hover
{
    background-color: darkred;
}

.cardListWrapper {
    margin: 0 10px;
}

#cardsList li 
{
    font-size: 13px;
}

#modalViewDeleteCard
{
    height: 270px;
}

#modalViewDeleteCardMessage,
#modalViewDeleteCardNumber
{
    color: #363636;
    font-weight: normal;
    font-size: 12px;
}

#addNewCardErrorLog
{
    color: #FF3333;
    margin: 0px auto;
    width: 240px;
    text-align: center;
}

#barcodeImage
{
    width: 130px;
    height: 130px;
    margin-left: 85px;
    margin-top: 19px;
}

#cardAmount
{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    padding: 10px;
    background-color: #bababa;
    color: #000;
}

.singleCardPriceBox
{
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}

#singleCardActions .singleCardDeleteButton {
   background: #E30111;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0,rgba(0, 0, 0, 0.3)),
    color-stop(0.05,transparent), color-stop(0.98, transparent), color-stop(1, rgba(70, 70, 70, 0.5))), 
    -webkit-gradient(linear,50% 0,50% 100%,color-stop(0, rgba(255, 255, 255, 0.6)),color-stop(0.5, rgba(255, 255, 255, 0.1)),
    color-stop(0.5, rgba(255, 255, 255, 0)),color-stop(1, rgba(255, 255, 255, 0.15)));
    background-clip: padding-box;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
}

 .km-actionsheet-wrapper { 
    padding-top: 20px!important;
    padding-bottom: 10px!important;
    background-color:rgba(96, 101, 111, 1) !important;
}

.singleCardActionsList li {
    margin: 20px 10px!important;
}

/*Kristian Styles*/

clear:after
{
    content: "";
    clear: both;
    height: 0;
    display: block;
}

.listReswardsCard
{
    overflow:hidden;
}

#buttonAddNewCard, 
#buttonAddNewCardView {
    margin: 6px 5px;
    padding: 3px 10px;
}

#buttonAddNewCardView {
    background-color: #2260DD;
}

#singleRewardCardContainer{
    margin-top: 15px;
    margin-bottom:15px;
}

.singleRewardCardBonusBox
{
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}

.cardBonus
{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    padding: 10px;
    background-color: #bababa;
    color: #000;
    margin-bottom:20px;
}

.starIcon,.bonusHeader
{
    float:left;
}

 #rewardCardBarcode, #rewardCardBack
{
    display:none;
}

.gold
{
   background-image: -webkit-linear-gradient(bottom, #FDC20B, #FFD337);
}

.silver
{
   background-image: -webkit-linear-gradient(bottom, #c0c4c6, #ccd0d3);
}

.cardNumberLine
{
    font-size: 23px;
    opacity: 0.7;
    text-shadow: -1px -1px 1px black;
    color: white;
    font-weight: normal;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 0.25em;
}

.iconContainer
{
    float:left;
    height:80px;
    width:80px;
    border:solid 1px rgba(0, 0, 0, 0.4);
    border-radius:10px;
    margin-left:16px;
    margin-top:16px;
    background-color:#eee;
}

.icon
{
    height:70px;
    width:70px;
    margin-top:5px;
    margin-left:5px;
    background-image:url("../icons/cofeeCup.png");
}

.amountLine
{
    width:300px;
    line-height:40px;
    margin-top:16px;
    background: rgba(0,0,0,0.3);
    text-align:center;
}

.bonusIcon
{   
    float:left;
    margin-top:4px;
    margin-left:38px;
    height:32px;
    width:32px;
    background-image:url("../icons/iconBonus.png");
}

.dateLine
{
    margin-right: 16px;
    font-size:12px;
    text-align:center;
    margin-top:4px;
    color:rgba(0,0,0,.5);
}

.km-ios #rewardsList > li
{
    line-height:0.6em;
}

.bonusPoints{
    margin-left:16px;
    text-shadow: 1px 1px 1px black;
    color:#fff;
    font-size:24px;
}

.bonusContainer {
    float:right;
    margin-top:30px;
    width:200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
