#announcements
{
    margin: 12px;
    padding: 3px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.cardPicture
{
    background-color: #fff;
    background-image: url('http://semanticommunity.info/@api/deki/files/10026/Coffee.png');
    background-repeat:no-repeat;
    background-position:center; 
}

.item-photo {
    width: 5em;
    height: 3.5em;
    float: left;
    margin: .5em 0;
    -webkit-box-shadow: 0 1px 3px #333;
    box-shadow: 0 1px 3px #333;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#announcements-listview .item-title {
	float: left;
	font-size: 1.3em;
    line-height: 1.2em;
    margin: 0 0 0 .8em;
    width: 61%;
}

#announcements-listview .item-info {
	float: left;
	font-size: 1em;
    font-weight: 100;
	line-height: 1em;
    margin: 0 0 0 1em;
    width: 61%;
}

.km-ios #home .km-list
{
    background: rgba(255, 255, 255, 0.5);
}

.km-card
{
	-webkit-mask-box-image: url("../icons/card.png");
}

.km-rewards
{
	-webkit-mask-box-image: url("../icons/rewards.png");
}

.km-stores
{
	-webkit-mask-box-image: url("../icons/stores.png");
}

/*66CCFF*/
#jitterz-tabstrip,
#jitterz-default-header .km-navbar,
#jitterz-tabstrip .km-state-active .km-icon,
#jitterz-default-header .km-navbar .km-button
{
	background-color: #66ccff;
}



.km-ios #jitterz-tabstrip
{
	border-top: 2px solid #66ccff;
}

#home .km-content
{
    background-image: url("../images/hot-coffee.jpg");
    background-size: auto 100%;
}

/*Ivan Ivanov Cancel button*/
.clear:after
{
    content: "";
    clear: both;
    height: 0;
    display: block;
}

#modalViewAddCardButton,
#buttonAddNewCard,
#buttonModalViewDeleteConfirm,
#buttonModalViewDeleteCancel
{
    display: block;
    text-align: center;
    margin: .6em .8em .6em;
    font-size: 1.2em;
}

#modalViewAddCard
{
    height: 180px;
}

#cardsList
{
    margin: 0 15px;
}

/*Single Card View Styles*/
#singleCardContainer
{
    margin-top: 15px;
    height: 220px;
}

#cardFront
{
    background-image: url("http://webmuch.com/demos/jquery_image_flip/images/image1.jpg");
    /*-moz-animation:myfirst 2s infinite; // Firefox 
    -webkit-animation:myfirst 2s infinite; // Safari and Chrome 
    -o-animation:myfirst 2s infinite; // Opera
    */
}

#cardBack
{
    background-image: url("http://webmuch.com/demos/jquery_image_flip/images/image2.jpg");
    display:none;
}

.cardStyle
{
    border-radius: 25px;
    cursor:pointer;
    width:300px;
    height:190px;
    box-shadow: 0px 0px 2px #333;
    margin: 0 auto;

}

#cardBarcode
{
    margin: 40px auto 0 auto;    
}

#map {
    width:100%; height:100%; position:absolute;        
}

.deleteCardButton
{
    width:20px;
    height:20px;
    text-align:center;
}

.deleteCardButton:hover
{
    background-color: darkred;
}

.cardNumberContainer
{
    margin: 7px 0 0 10px;
}

#cardsViewContent, #cardViewContent
{
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(255,255,255,.5), inset 0 0 7px #000;
}

#cardsList
{
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #333;
}

.km-ios #cardsList li:first-child
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.km-ios #cardsList li:last-child
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#cardsList li 
{
    background-color: #BAB8B9;
    color: #363636;
    font-size: 13px;
}

#modalViewDeleteCard
{
    height: 270px;
}

#modalViewDeleteCardMessage,
#modalViewDeleteCardNumber
{
    color: #363636;
    font-weight: normal;
    font-size: 12px;
}

#addNewCardErrorLog
{
    color: #FF3333;
    margin: 0px auto;
    width: 240px;
    text-align: center;
}

#barcodeImage
{
    width: 150px;
    height: 150px;
    margin-left: 80px;
    margin-top: 20px;
}

#cardAmount
{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    padding: 10px;
    background-color: #bababa;
    color: #000;
}

.singleCardPriceBox
{
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}

/*Glow effect*/
/*
@keyframes myfirst
{
    0%   { box-shadow: 0 0 3px #5E9BFF;}
    50% {box-shadow: 0 0 20px #5E9BFF;}
    100% {box-shadow: 0 0 3px #5E9BFF;}
}

@keyframes myfirst
{
    0%   { box-shadow: 0 0 3px #5E9BFF;}
    50% {box-shadow: 0 0 20px #5E9BFF;}
    100% {box-shadow: 0 0 3px #5E9BFF;}
}

@-moz-keyframes myfirst // Firefox 
{
    0%   { box-shadow: 0 0 3px #5E9BFF;}
    50% {box-shadow: 0 0 20px #5E9BFF;}
    100% {box-shadow: 0 0 3px #5E9BFF;}
}

@-webkit-keyframes myfirst // Safari and Chrome 
{
    0%   { box-shadow: 0 0 3px #5E9BFF;}
    50% {box-shadow: 0 0 20px #5E9BFF;}
    100% {box-shadow: 0 0 3px #5E9BFF;}
}

@-o-keyframes myfirst // Opera 
{
    0%   { box-shadow: 0 0 3px #5E9BFF;}
    50% {box-shadow: 0 0 20px #5E9BFF;}
    100% {box-shadow: 0 0 3px #5E9BFF;}
}
*/
/*Kristian Styles*/

clear:after
{
    content: "";
    clear: both;
    height: 0;
    display: block;
}

#rewordsCardsList
{
    margin: 0 15px;
}

.cardNumberContainer
{
    margin: 7px 0 0 10px;
}

#rewardsCardsViewContent, #cardViewContent
{
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(255,255,255,.5), inset 0 0 7px #000;
}

#rewordsCardsList
{
    background-color: transparent;
    border-radius: 15px;
    box-shadow: 0px 0px 2px #333;
}

.km-ios #rewordsCardsList li:first-child
{
    margin-top:9px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.km-ios #rewordsCardsList li:last-child
{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#rewordsCardsList li:first-child
{
    margin-top:9px;
}

#rewordsCardsList li 
{
    background-color: #BAB8B9;
    color: #363636;
    font-size: 13px;
}

.listReswardsCard
{
    overflow:hidden;
}

#rewardsCardsViewContent, #rewardCardViewContent
{
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(255,255,255,.5), inset 0 0 7px #000;
}

#rewardsList{
    background: rgba(0,0,0,.1);
    box-shadow: 0 0 2px rgba(255,255,255,.5), inset 0 0 7px #000;
}

#singleRewardCardContainer{
    margin-top: 15px;
    margin-bottom:15px;
}

.singleRewardCardBonusBox
{
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}

.cardBonus
{
    margin: 0 auto;
    width: 200px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #333;
    padding: 10px;
    background-color: #bababa;
    color: #000;
    margin-bottom:20px;
}

.starIcon,.bonusHeader
{
    float:left;
}

 #rewardCardBarcode, #rewardCardBack
{
    display:none;
}